<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>

div#myCaurusel.carousel.slide>.carousel-inner>((.item.active>img+.container>carousel-caption>h1{Example headline.}+p{Something...}+a[href=#].btn.btn-large.btn-primary{Sign up})+(.item>img+.container>carousel-caption>h1{Example headline.}+p{Something...}+a[href=#].btn.btn-large.btn-primary{Sign up})+(.item>img+.container>carousel-caption>h1{Example headline.}+p{Something...}+a[href=#].btn.btn-large.btn-primary{Sign up}))^^^^a[href=#myCarousel].left.carousel-control{&lsaquo;}+a[href=#myCarousel].right.carousel-control{&rsaquo;}

<li><a href=""></a></li>

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

</body>
</html>