<div>
	<center>
	 <%= link_to image_tag("/image/logotype.jpg", alt: "Rails logo"), '#' %>  
	</center>
</div>

<hr>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/security.gif">
      <div class="caption">
        <h3>Безопасность</h3>
        <p>...</p>
          <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Пока не работает :(">Подробнее</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/sms.gif">
      <div class="caption">
        <h3>Моментальное уведомление</h3>
        <p>
        ...
        </p>
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Пока не работает :(">Подробнее</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/image/car-tracking.gif">
      <div class="caption">
        <h3>Как это работает?</h3>
        <p>...</p>
        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Пока не работает :(">Подробнее</button>
      </div>
    </div>
  </div>
</div>
	
<hr>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84269.64014201195!2d74.53987246082356!3d42.87536297106379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6LCDQmtC40YDQs9C40LfQuNGP!5e0!3m2!1sru!2s!4v-492521162701" width="900" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>