<footer class="footer">
  <small>
    The <a href="#">ESDP Project</a>
    by <a href="#">group #4</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
    </ul>
  </nav>
</footer>
